*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    width: 100vw;
}
.AboutPages-1{
    width: 100vw;
    height: 90vh;
    background-image: url(./images/bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.us{
    display: flex;
    margin-top: 20px;
}
.us a{
    text-decoration: none;
    color: aliceblue;
    padding-right: 15px;
}
.us li{
    font-size: 15px;
    color: rgb(232, 206, 198);
}
.AboutPages-2{
    height: 65vh;
    width: 100vw;
    background-color: #dfdfdf;
}
.about-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-2 img{
    width: 400px;
    height: 350px;
    margin-top: 45px;
}
.about-usText-2{
    width: 550px;
    margin-left: 50px;
    margin-top: 50px;
}
.about-usText-2 h3{
    color: #5c5d5f;
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    line-height: 20px;
    text-align: center;
    text-shadow: 0px 1px 1px rgb(242, 237, 208);
    padding-top: 10px;  
}
.about-usText-2 p{
    margin: 15px 0px;
}
.AboutPages-3{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Allicons{
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    text-align: start;
}
.icon{
    display: flex;
    width: 20vw;
    margin: 20px;
}
.Testimonials{
    width: 100vw;
    height: 80vh;
    background-image: url(./images/Inkedfast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    color: rgb(226, 227, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.TestimonialsText{
    width: 60vw;
    text-align: center;
}
.TestimonialsText p{
    padding: 20px 0px;
}
.ourAwards{
    width: 100vw;
    height: 45vh;
    text-align: center;
    padding-top: 70px;
    background-color: #c2c3c5;
}
.logoAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c3c5;
}
.logoAbout img{
    width: 200px;
    height: 100px;
    background: #c2c3c5;
    margin:40px 30px;
    padding: 10px;
}
.get-multipurpose{
    width: 100vw;
    height: 32vh;
    background-color: #0b4da9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    color: #ffffff;
}
.futer{
    height: 92vh;
    width: 100vw;
    margin: 0;
    background-color: #0c0c0c;
}
.get-multipurpose h2{
    padding-top: 15px;
    font-size: 30px;
}
.get-multipurpose p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.get-multipurpose b{
    border-left: 2px solid wheat;
    margin-left: 5px;
    margin-right: 8px;
}
.viesbtn{
    height: 40px;
    width: 200px;
    color: #000;
    background-color: bisque;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}
.realFuter{
    height: 55vh;
    width: 60vw;
    text-align: center;
    color: aliceblue;
    margin: 30px 18%;
}
.realFuter img {
    width: 200px;
}
.testitem{
    margin-top: 50px;
}